ul.organization-list .current {
  background-color: @gray-lighter;
}

.ace_editor {
  width: 100%;
  height: 200px;
}

.send-preview {
  padding: 0 5px;
  display: inline-block;

  .form-control {
    width: auto;
    display: inline-block;
  }

  .send-preview-message {
    display: inline-block
  }
}
