[submodule "vendor/bootstrap"]
  path = vendor/bootstrap
  url = git@github.com:twitter/bootstrap.git
[submodule "vendor/dropmail.js"]
  path = vendor/dropmail.js
  url = git@github.com:barrelage/dropmail.js.git
[submodule "vendor/dropmail-api"]
	path = vendor/dropmail-api
	url = git@github.com:barrelage/dropmail-api.git
