[submodule "vendor/dropmail.js"]
	path = vendor/dropmail.js
	url = https://github.com/barrelage/dropmail.js.git
[submodule "vendor/ace"]
	path = vendor/ace
	url = https://github.com/ajaxorg/ace-builds.git
